# Challenge 2

In this lab you will partner with another student to conduct **[pair programming](https://en.wikipedia.org/wiki/Pair_programming)**. In the next 60 minutes there will be 2 coding sessions of 30 minutes each. In each sessoin, one student will be the **driver** to write the code to solve the problem while the other student will be the **observer** to watch and review. There will be several iterations of your code because the observer will help the driver review the codes and make improvements until the 15 minute session ends. After the coding session ends, the driver and observer will switch roles.

#### Import all the libraries that are necessary

In [9]:
# import libraries here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Preparation

#### Import the `Fitbit2.csv` file and name your dataset `fitbit`

In [10]:
fitbit=pd.read_csv('Fitbit2.csv')

fitbit.head()

,Date,Calorie burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,...,Distance_miles,Days,Days_encoded,Work_or_Weekend,Hours Sleep,Sleep efficiency,Yesterday_sleep,Yesterday_sleep_efficiency,Months,Months_encoded
0,2015-05-08,1934,905,0.65,0,1.355,46,0,0,1680,...,0.403891,Friday,4.0,1,6.400000,92.086331,0.000000,0.000000,May,5
1,2015-05-09,3631,18925,14.11,4,611.000,316,61,60,2248,...,8.767545,Saturday,5.0,0,7.566667,92.464358,6.400000,92.086331,May,5
2,2015-05-10,3204,14228,10.57,1,602.000,226,14,77,1719,...,6.567891,Sunday,6.0,0,6.450000,88.761468,7.566667,92.464358,May,5
3,2015-05-11,2673,6756,5.02,8,749.000,190,23,4,9620,...,3.119282,Monday,0.0,1,5.183333,88.857143,6.450000,88.761468,May,5
4,2015-05-12,2495,502,3.73,1,876.000,171,0,0,7360,...,2.317714,Tuesday,1.0,1,6.783333,82.892057,5.183333,88.857143,May,5

## Coding Session I - 30 minutes

From the Fitbit data, we want to visually understand: 

1. **How the average number of steps change by month. Use the appropriate visualization to show the median steps by month?**
1. **Is Fitbitter more active on weekend or workdays?**

##### All plots must be in the same jupyter notebook cell.

Hints:

- Use `Months_encoded` and `Week_or Weekend` columns
- Use `matplolib.pyplot` object oriented API
- Set your size figure to `12,4`
- Explore `plt.sca`
- Explore `plt.xticks`
- Save your figures

In [33]:
# Driver 1 enter codes here
months = fitbit.groupby("Months_encoded").mean()

In [34]:
months

,Calorie burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,MinutesOfSleep,MinutesOfBeingAwake,NumberOfAwakings,LengthOfRestInMinutes,Distance_miles,Days_encoded,Work_or_Weekend,Hours Sleep,Sleep efficiency,Yesterday_sleep,Yesterday_sleep_efficiency
Months_encoded,,,,,,,,,,,,,,,,,,,,
1,2812.806452,9892.064516,7.912581,8.580645,573.702000,249.838710,27.548387,27.387097,1705.741935,310.516129,29.483871,17.193548,340.161290,4.916648,3.193548,0.677419,5.175269,79.535533,5.245699,79.545673
2,2600.100000,8922.866667,7.143667,9.666667,598.077133,214.933333,25.166667,25.033333,1833.033333,269.933333,24.366667,14.533333,294.600000,4.438867,2.933333,0.733333,4.498889,73.325942,4.605000,73.287582
3,2281.258065,10312.935484,9.184194,9.935484,490.865000,220.935484,13.096774,41.451613,2443.387097,242.290323,22.387097,13.483871,265.387097,5.706792,2.903226,0.741935,4.038172,70.799130,3.955914,70.782667
4,3030.800000,13079.033333,11.190667,11.566667,638.469700,293.866667,13.800000,48.866667,1710.333333,322.133333,35.500000,18.566667,357.766667,6.953556,3.100000,0.700000,5.368889,84.023962,5.293889,84.100439
5,2836.580645,10620.096774,8.799677,10.741935,654.149161,229.580645,28.258065,46.806452,3391.419355,353.612903,35.967742,21.677419,394.935484,5.467864,3.193548,0.677419,5.893548,86.669604,5.638710,83.934522
6,2971.666667,12536.166667,10.881667,24.366667,655.641500,237.766667,33.600000,60.866667,1686.400000,354.800000,36.666667,20.600000,399.266667,6.761552,2.833333,0.733333,5.913333,85.083234,5.939444,84.943985
7,2699.935484,9193.322581,8.695484,16.000000,644.071323,240.967742,33.161290,37.419355,1734.967742,347.161290,30.322581,15.645161,385.387097,5.403122,3.000000,0.741935,5.786022,86.959627,5.764516,87.054673
8,2844.967742,11584.774194,9.059677,14.129032,497.499000,265.322581,25.903226,28.516129,1502.483871,333.387097,29.451613,17.774194,368.903226,5.629421,3.064516,0.677419,5.556452,84.537428,5.568280,84.422750
9,2908.000000,9191.333333,7.836333,12.266667,535.728967,233.233333,32.700000,29.033333,1862.033333,259.700000,24.900000,14.966667,288.633333,4.869270,2.900000,0.733333,4.328333,65.660698,4.307778,65.604344
10,2608.838710,8272.451613,6.570000,6.709677,447.882871,195.387097,26.967742,18.645161,3004.354839,208.709677,21.322581,12.516129,230.258065,4.082407,3.096774,0.709677,3.478495,64.688161,3.590323,64.757106
11,2578.066667,9467.466667,7.927333,8.033333,509.027167,219.566667,34.166667,35.666667,2121.233333,247.500000,23.766667,13.766667,271.900000,4.925815,3.000000,0.700000,4.125000,66.948579,4.212222,66.722475
12,2737.290323,8470.064516,7.460323,8.935484,525.882935,236.032258,19.870968,29.645161,1501.870968,236.064516,22.129032,13.677419,259.096774,4.635628,2.903226,0.741935,3.934409,67.903253,3.709140,68.090263

In [ ]:
plt.figure(figsize=(12,4))
plt.sca.(ax)
plt.xticks
Steps

## Coding Session II - 30 minutes

**Write a loop to plot 3 scatter plots of the following features:**

1. **`Minutes Lightly Active`  vs `Steps`**
1. **`Minutes Very Active` vs `Steps`**
1. **`Minutes Sedentary` vs `Steps`**

In [ ]:
# Driver 2 enter codes here