# Advanced Querying Mongo

In [32]:
from pymongo import MongoClient

dbName = "companies.json"
mongodbURL = f"mongodb://localhost/{dbName}"

client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [36]:
query = {
    "name":
    {"$eq":"Babelgum"}
}

cur = db.companies.find(query)

for company in list(cur):
    print(company["name"])
    break

Babelgum

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [54]:
query = {
    "number_of_employees":
    {"$gt":5000}
}
cur = db.companies.find(query).sort("number_of_employees", -1).limit(20)
data = list(cur)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [61]:
query = {
    "$and":[
        {"founded_year":{"$gte":2000}},
        {"founded_year":{"$lte":2005}}
    ]
}

cur = db.companies.find(query).limit(5)

for company in list(cur):
    print(company["name"], company["founded_year"])

Omnidrive 2005
Zoho 2005
Gizmoz 2003
Wetpaint 2005
Helio 2005

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [71]:
query = {
    "$and":[
        {"ipo":{"$gte":100000000}},
        {"founded_year":{"$lt":2010}}
    ]
}

cur = db.companies.find(query).limit(5)

for company in list(cur):
    print(company["name"], company["ipo"])

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [77]:
query = {
    "$and":[
    {"number_of_employees":{"$lt":1000}},
    {"founded_year":{"$lt":2005}}
    ]
}
        
cur=db.companies.find(query).sort("number_of_employees").limit(10)

### 6. All the companies that don't include the `partners` field.

In [82]:
query = {"partners":
         {"$exists":"false"}
        }
        
cur=db.companies.find(query)

### 7. All the companies that have a null type of value on the `category_code` field.

In [86]:
query = {"category_code":
         {"$eq":None}
        }
        
cur=db.companies.find(query)

[{'_id': ObjectId('52cdef7c4bab8bd6752980f6'),
  'name': 'Collective',
  'permalink': 'collective',
  'crunchbase_url': 'http://www.crunchbase.com/company/collective',
  'homepage_url': None,
  'blog_url': None,
  'blog_feed_url': None,
  'twitter_username': None,
  'category_code': None,
  'number_of_employees': None,
  'founded_year': None,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': None,
  'alias_list': None,
  'email_address': None,
  'phone_number': None,
  'description': None,
  'created_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'updated_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'overview': None,
  'image': None,
  'products': [],
  'relationships': [],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [87]:
query = {
    "$and":[
        {"number_of_employees":{"$gte":100}},
        {"number_of_employees":{"$lt":1000}}
    ]
}

cur = db.companies.find(query).limit(5)

for company in list(cur):
    print(company["name"], company["number_of_employees"])

AdventNet 600
LifeLock 644
OpenX 305
AddThis 120
Jajah 110

### 9. Order all the companies by their IPO price in a descending order.

In [94]:
cur = db.companies.find().sort("ipo", -1).limit(10)
data = list(cur)

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [96]:
cur = db.companies.find().sort("number_of_employees", -1).limit(10)
data = list(cur)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
query = {"founded_month":{"$eq":["7", "7", "7"]}}

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code