# Advanced Querying Mongo

In [32]:
from pymongo import MongoClient

dbName = "companies.json"
mongodbURL = f"mongodb://localhost/{dbName}"

client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [36]:
query = {
    "name":
    {"$eq":"Babelgum"}
}

cur = db.companies.find(query)

for company in list(cur):
    print(company["name"])
    break

Babelgum

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [54]:
query = {
    "number_of_employees":
    {"$gt":5000}
}
cur = db.companies.find(query).sort("number_of_employees", -1).limit(20)
data = list(cur)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [61]:
query = {
    "$and":[
        {"founded_year":{"$gte":2000}},
        {"founded_year":{"$lte":2005}}
    ]
}

cur = db.companies.find(query).limit(5)

for company in list(cur):
    print(company["name"], company["founded_year"])

Omnidrive 2005
Zoho 2005
Gizmoz 2003
Wetpaint 2005
Helio 2005

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [145]:
query = {
    "$and":[
        {"ipo.valuation_amount":{"$gte":100000000}},
        {"founded_year":{"$lt":2010}}
    ]
}

cur = db.companies.find(query).limit(5)

for company in list(cur):
    print(company["name"], company["ipo"])

Twitter {'valuation_amount': 18100000000, 'valuation_currency_code': 'USD', 'pub_year': 2013, 'pub_month': 11, 'pub_day': 7, 'stock_symbol': 'NYSE:TWTR'}
Facebook {'valuation_amount': 104000000000, 'valuation_currency_code': 'USD', 'pub_year': 2012, 'pub_month': 5, 'pub_day': 18, 'stock_symbol': 'NASDAQ:FB'}
Yelp {'valuation_amount': 1300000000, 'valuation_currency_code': 'USD', 'pub_year': 2012, 'pub_month': 3, 'pub_day': 2, 'stock_symbol': 'NYSE:YELP'}
LinkedIn {'valuation_amount': 9310000000, 'valuation_currency_code': 'USD', 'pub_year': 2011, 'pub_month': 7, 'pub_day': 20, 'stock_symbol': 'NYSE:LNKD'}
Brightcove {'valuation_amount': 290000000, 'valuation_currency_code': 'USD', 'pub_year': 2012, 'pub_month': 2, 'pub_day': 17, 'stock_symbol': 'NASDAQ:BCOV'}

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [77]:
query = {
    "$and":[
    {"number_of_employees":{"$lt":1000}},
    {"founded_year":{"$lt":2005}}
    ]
}
        
cur=db.companies.find(query).sort("number_of_employees").limit(10)

### 6. All the companies that don't include the `partners` field.

In [82]:
query = {"partners":
         {"$exists":"false"}
        }
        
cur=db.companies.find(query)

### 7. All the companies that have a null type of value on the `category_code` field.

In [86]:
query = {"category_code":
         {"$eq":None}
        }
        
cur=db.companies.find(query)

[{'_id': ObjectId('52cdef7c4bab8bd6752980f6'),
  'name': 'Collective',
  'permalink': 'collective',
  'crunchbase_url': 'http://www.crunchbase.com/company/collective',
  'homepage_url': None,
  'blog_url': None,
  'blog_feed_url': None,
  'twitter_username': None,
  'category_code': None,
  'number_of_employees': None,
  'founded_year': None,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': None,
  'alias_list': None,
  'email_address': None,
  'phone_number': None,
  'description': None,
  'created_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'updated_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'overview': None,
  'image': None,
  'products': [],
  'relationships': [],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [87]:
query = {
    "$and":[
        {"number_of_employees":{"$gte":100}},
        {"number_of_employees":{"$lt":1000}}
    ]
}

cur = db.companies.find(query).limit(5)

for company in list(cur):
    print(company["name"], company["number_of_employees"])

AdventNet 600
LifeLock 644
OpenX 305
AddThis 120
Jajah 110

### 9. Order all the companies by their IPO price in a descending order.

In [94]:
cur = db.companies.find().sort("ipo", -1).limit(10)
data = list(cur)

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [96]:
cur = db.companies.find().sort("number_of_employees", -1).limit(10)
data = list(cur)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [126]:
query = {"founded_month":{"$gte":7}}

data = db.companies.find(query).limit(1000)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [103]:
query = {
    "$and":[{"founded_year":{"$lte":2000}}, 
        {"acquisition.price_amount":{"$gte":10000}}
    ]
        }

data = db.companies.find(query)

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [114]:
query = {"acquisition.acquired_year":
         {"$eq":2010}   
}
data = db.companies.find(query).limit(1)
for company in list(data): 
    print(company["name"], company["acquisition"])

Veoh {'price_amount': None, 'price_currency_code': 'USD', 'term_code': None, 'source_url': 'http://techcrunch.com/2010/04/07/qlipso-veoh/', 'source_description': "Qlipso's CEO Explains Why He Bought Veoh", 'acquired_year': 2010, 'acquired_month': 4, 'acquired_day': 7, 'acquiring_company': {'name': 'Qlipso', 'permalink': 'qlipso'}}

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [122]:
query ={"founded_year":
        {"$ne":None}
}

data = db.companies.find(query).sort("founded_year").limit(5)
for company in list(data):
    print(company["name"], company["founded_year"])

Alstrasoft 1800
SmallWorlds 1800
US Army 1800
DuPont 1802
McKesson 1833

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [130]:
query = {"founded_day":
         {"$lte":7}   
}
data = db.companies.find(query).sort("acquisition.price_amount", -1).limit(10)

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [139]:
query={
    "$and":[
        {"category_code":{"$eq":"web"}},
       {"number_of_employees":{"$gt":4000}}
    ]
}

data = db.companies.find(query).sort("number_of_employees", -1)

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [143]:
query = {
    "$and":[
        {"acquisition.price_amount":{"$gte":10000000}}, 
        {"acquisition.price_currency_code":{"$eq":"EUR"}}
    ]
}
data = db.companies.find(query)

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [147]:
query = {"founded_month":{"$lte":4}}

data = db.companies.find(query).limit(10)

for company in list(data):
    print(company["name"], company["acquisition"])

Gizmoz {'price_amount': None, 'price_currency_code': 'USD', 'term_code': None, 'source_url': 'http://www.gizmoz.com', 'source_description': 'TechCrunch', 'acquired_year': 2009, 'acquired_month': 12, 'acquired_day': 15, 'acquiring_company': {'name': 'Daz 3d', 'permalink': 'daz-3d'}}
Helio {'price_amount': 39000000, 'price_currency_code': 'USD', 'term_code': 'stock', 'source_url': 'http://news.cnet.com/8301-10784_3-9978991-7.html', 'source_description': 'Virgin Mobile USA buys Helio for $39 million', 'acquired_year': 2008, 'acquired_month': 6, 'acquired_day': 27, 'acquiring_company': {'name': 'Virgin Mobile USA', 'permalink': 'virgin-mobile'}}
Babelgum None
StumbleUpon {'price_amount': 29000000, 'price_currency_code': 'USD', 'term_code': None, 'source_url': 'http://techcrunch.com/2009/04/13/ebay-unacquires-stumbleupon/', 'source_description': "StumbleUpon Beats Skype In Escaping EBay's Clutches", 'acquired_year': 2009, 'acquired_month': 4, 'acquired_day': None, 'acquiring_company': {'name': 'StumbleUpon', 'permalink': 'stumbleupon'}}
Twitter None
Mahalo None
Facebook None
Meetup None
Jangl SMS None
Prosper None

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [150]:
query = {
    "$and":[
        {"founded_year":{"$gte":2000}}, 
        {"founded_year":{"$lte":2010}},
        {"acquisition.acquired_year":{"$gte":2011}}
    ]
}
data = db.companies.find(query)

### 20. All the companies that have been 'deadpooled' after the third year.

In [151]:
query = {"deadpooled_year":{"$gte":("founded_year")+3}}

data = db.companies.find(query)

TypeError: can only concatenate str (not "int") to str